{% extends "security/base.html" %}
{% from "bootstrap/forms/horizontal.html" import render_form %}

{% block title %}{% trans %}Change password{% endtrans %}{% endblock %}

{% block content %}
    <div class="panel panel-default center-block" style="max-width: 600px">
        <div class="panel-heading">
            <h1 class="panel-title">{% trans %}Change password{% endtrans %}</h1>
        </div>
        <div class="panel-body">
            {{ render_form(change_password_form, submit_text=_("Change password"), action=url_for_security('change_password')) }}
        </div>
    </div>
{% endblock %}
