<div id="cookie-info" style="display:none; position:fixed; bottom:0; z-index: 1000; width: 800px; margin-left: -411px; left: 50%; background: #fff; border: 1px solid #909090;  font-size: 12px;">
    <p style="padding: 3px 10px; background: #CCC; color: #000; border-bottom: 1px solid #aaa">
        {% trans %}Informacja o ciasteczkach{% transif %}
        <a class="close-info" style="float: right" href="">Ukryj komunikat</a>
        <a style="margin-right: 1em; float: right" href="/cookies/">Więcej informacji</a>
    </p>
    <div style="padding: 0 10px;">
        <p>
            Pliki cookie pomagają nam udostępniać nasze usługi. Korzystając z tych usług, zgadzasz się na użycie plików cookie.
Więcej informacji
OK
            Tak jak wiele innych serwisów, używamy „ciasteczek” by sprawdzać jak nasza strona jest przez państwo używana (np. liczymy liczbę odwiedzających).
            W swojej przeglądarce, możesz skonfigurować to jak ciasteczka działają.
            Korzystając z serwisu bez zmian konfiguracji swojej przeglądarki wyrażają państwo zgodę na to byśmy mogli dalej korzystać z ciasteczek zapisanych w państwa przeglądarce.
        </p>
    </div>
</div>
