{% extends "base.html" %}
{% block title %}{% trans %}Lista artykułów{% endtrans %}{% endblock %}
{% block content %}
    <div class="page-header">
        <h2>Przypadki</h2>
        <div class="btn-group pull-right">
            <a class="btn btn-default" href="{{ url_for('.Case:create') }}"><i class="glyphicon glyphicon-plus"></i> {% trans %}Nowy przypadek{% endtrans %}</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr class="head">
            <th class="lp">{% trans %}Lp{% endtrans %}</th>
            <th>{% trans %}Tytuł{% endtrans %}</th>
            <th>{% trans %}Data publikacji{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% include2 "./rows.html" %}
        {% if not list %}
            <tr>
                <td class="message" colspan='15'>
                    <p>{% trans %}Brak przypadków.{% endtrans %}</p>
                </td>
            </tr>
        {% endif %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="15">{% include "paging/more.html" %}</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
